In [1]:
import data_processing_functions as dpf
import pandas

# Generation of Emissions dataset

Generate the emissions dataset from a dataset of energy generation

In [2]:
dataset = pandas.read_csv('energy_generations.csv')

In [3]:
dataset = dpf.generate_emissions_dataset(dataset)

In [4]:
dataset.head()

              Fecha  Emisiones
0  2020-04-28 21:00    1821.74
1  2020-04-28 21:10    1739.48
2  2020-04-28 21:20    1749.68
3  2020-04-28 21:30    1757.24
4  2020-04-28 21:40    1756.66

In [5]:
dataset.to_csv('Emissions_2020-04-29_to_2019-04-29.csv')